/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.background {
	-fx-background-color: ghostwhite;
	-fx-border-color: black; 
	-fx-border-style: solid; 
	-fx-border-width: 2.0px;
}